@charset "UTF-8";

html, body {
	user-select: none;
}
.clearfix {
	clear: both;
}
md-checkbox .md-label {
	margin-top: 12px;
}
.md-errors-spacer {
	display: none;
}
main.flex {
	overflow-y: auto;
	height: 100%;
}
#playerInclude {
	height: 100%;
}
#playerPage {
	display: flex;
	flex-direction: column;
	height: 100%;
}
#playerPage > md-card:not(:last-of-type) {
	margin-bottom: 0px;
}
#playerArea > md-card-title {
	padding: 10px;
}
#playerArea > md-card-title > md-card-title-text {
	position: relative;
}
#playerArea > md-card-title > md-card-title-text > .md-headline {
	font-size: 18px;
	line-height: 24px;
	padding-right: 10px;
}
#playerArea > md-card-title > md-card-title-text > .md-subhead {
	padding-top: 0px;
}
#playerArea > md-card-title > md-card-title-media {
	margin: 0px;
}
#playerArea > md-card-title > md-card-title-media > md-card {
	margin: 0px;
}
#playerArea > md-card-content {
	text-align: center;
	padding-bottom: 0px;
}
#visualiserArea {
	position: relative;
	min-height: 100px;
}
#visualiserArea.visible {
	min-width: 100px;
	margin-left: 10px !important;
}
#visualiserCvs, #coverArtImg {
	display: block;
	position: absolute;
	top: 0px;
	bottom: 0px;
	width: 100%;
}
#visualiserCvs {
	background-color: #fff;
	z-index: 20;
}
#visualiserCvs.coverArt {
	filter: opacity(0.2);
}
#coverArtImg {
	z-index: 10;
}
#playButtonsArea {
	display: block;
}
#playButtonsArea  button{
	float: left;
}
.buttonArea button {
	width: 24px !important;
	height: 24px !important;
	min-width: initial !important;
	min-height: initial;
	margin: 10px 0px 10px 10px;
	padding: 0px;
}
.buttonArea button > md-icon {
	width: 12px;
	height: 12px;
	min-width: initial;
	min-height: initial;
}
#settingsBtn {
	float: right !important;
	margin-right: 10px;
}
#openFileForm {
	display: none;
}
#playbackArea {
	padding-right: 130px;
}
#trackTimeArea {
	position: absolute;
	bottom: 0px;
	width: 100%;
}
#timePlayed, #timeTotal {
	width: 50px;
	height: 16px;
	margin: 0px 0px -10px 0px;
	padding: 0px;
	font-size: 14px;
	text-align: center;
}
#timePlayed {
	float: left;
}
#timeTotal {
	float: right;
}
#playbackSlider {
	display: inline-block;
	width: calc(100% - 20px);
	height: 32px;
	margin: 0px 10px;
}
#volumeSlider {
	width: 80px;
	min-width: initial;
	height: initial;
	margin: 0px 0px 0px 16px;
	vertical-align: middle;
	float: left;
}
.volumeMuted {
	background-color: #d00 !important;
}
#volumeMeter {
	display: inline-block;
	width: 10px;
	height: 100%;
}
#volumeMeter > div {
	background-color: #333;
}
#playlistArea {
	flex-grow: 1;
}
#playlistArea > md-card-content {
	padding: 10px;
	height: 100%;
}
#playlistMenu, #playlistBtnArea {
	height: 100%;
}
#playlistMenu {
	float: left;
	width: calc(100% - 34px);
}
#playlistBtnArea {
	float: right;
	width: 24px;
}
#playlistBtnArea > button {
	margin: 0px 0px 10px;
	float: right;
}
#playlistBtnArea > button:last-child {
	margin-bottom: 0px;
}
#settingsCard > md-card-content > md-checkbox {
	width: 100%;
}
#settingsCard > md-card-content > div.layout-row {
	padding: 8px 3px 15px 0px;
}
#settingsCard > md-card-content > div.layout-row > md-select {
	height: 25px;
}

.themeCard.default { background-color: #ddd; }
.themeCard.red { background-color: #d32f2f; }
.themeCard.org { background-color: #ff9800; }
.themeCard.gld { background-color: #ffc107; }
.themeCard.lim { background-color: #cddc39; }
.themeCard.grn { background-color: #4caf50; }
.themeCard.tel { background-color: #009688; }
.themeCard.blu { background-color: #03a9f4; }
.themeCard.prp { background-color: #7e57c2; }
