<main class="flex" ng-controller="PlayerCtrl">
	<md-content id="playerPage">
		<!-- top info -->
		<md-card id="playerArea">
			<md-card-title>
				<md-card-title-text class="md-truncate">
					<div class="md-headline md-truncate" title="{{ playback.title }}">{{playback.title}}</div>
					<span class="md-subhead md-truncate">{{ playback.artist }}</span>
				</md-card-title-text>
				<md-card-title-media>
					<md-card>
						<canvas id="visualiserCvs"></canvas>
					</md-card>
				</md-card-title-media>
			</md-card-title>
			<md-card-content>
				<div id="timePlayed">{{ playback.timePlayed }}</div>
				<md-slider
					id="playbackSlider"
					class="md-primary"
					min="0"
					max="{{ playback.duration }}"
					aria-label="Seeker"
					ng-model="playback.time"
					ng-change="seekerChanged()"
				></md-slider>
				<div id="timeTotal">{{ playback.timeTotal }}</div>
			</md-card-content>
		</md-card>

		<!-- buttons -->
		<md-card id="playButtonsArea" class="buttonArea">

			<!-- open file -->
			<md-button
				class="md-fab md-raised md-mini"
				title="{{ $parent.langStrings.open_file }}"
				aria-label="Open"
				ng-click="openFile(true)"
			>
				<md-icon md-svg-src="./imgs/music.svg"></md-icon>
			</md-button>

			<!-- stop -->
			<md-button
				class="md-fab md-raised md-mini"
				title="{{ $parent.langStrings.stop }}"
				aria-label="Stop"
				ng-click="stopPlayback()"
				ng-disabled="playlist.length == 0 && !playback.playing"
			>
				<md-icon md-svg-src="./imgs/stop.svg"></md-icon>
			</md-button>

			<!-- play / pause -->
			<md-button
				class="md-fab md-raised md-mini"
				title="{{ $parent.langStrings.play_pause }}"
				aria-label="Play"
				ng-click="togglePlayback()"
				ng-disabled="playlist.length == 0"
			>
				<md-icon md-svg-src="./imgs/{{ (playback.playing) ? 'pause' : 'play' }}.svg"></md-icon>
			</md-button>

			<!-- prev -->
			<md-button
				class="md-fab md-raised md-mini"
				title="{{ $parent.langStrings.prev_track }}"
				aria-label="Previous"
				ng-click="prevTrack()"
				ng-disabled="playlist.length < 2"
			>
				<md-icon md-svg-src="./imgs/skip-prev.svg"></md-icon>
			</md-button>

			<!-- next -->
			<md-button
				class="md-fab md-raised md-mini"
				title="{{ $parent.langStrings.next_track }}"
				aria-label="Next"
				ng-click="nextTrack()"
				ng-disabled="playlist.length < 2"
			>
				<md-icon md-svg-src="./imgs/skip-next.svg"></md-icon>
			</md-button>

			<!-- loop -->
			<md-button
				class="md-fab md-raised md-mini"
				title="{{ $parent.langStrings.loop }}"
				aria-label="Loop"
				ng-class="{'md-primary': playback.loop}"
				ng-click="loopPlayback()"
			>
				<md-icon md-svg-src="./imgs/loop-{{ (playback.loop) ? 'on' : 'off' }}.svg"></md-icon>
			</md-button>

			<!-- volume -->
			<span id="volumeBtn" title="{{ $parent.langStrings.volume }}: {{ volumePcnt }}%">
				<md-button
					class="md-fab md-raised md-mini"
					aria-label="Mute"
					ng-class="{'md-primary': currVolume == 0.0}"
					ng-click="toggleMute()"
				>
					<md-icon md-svg-src="./imgs/{{ volumeImg }}.svg"></md-icon>
				</md-button>
				<md-slider
					id="volumeSlider"
					class="md-primary"
					min="0.0"
					max="1.0"
					step="0.1"
					aria-label="Volume"
					ng-model="volumeSlider.value"
					ng-change="changeVolume()"
				></md-slider>
			</span>

			<!-- settings -->
			<md-button
				id="settingsBtn"
				class="md-fab md-raised md-mini"
				title="{{ $parent.langStrings.settings }}"
				aria-label="Settings"
				ng-click="$parent.openSettings()"
			>
				<md-icon md-svg-src="./imgs/cog.svg"></md-icon>
			</md-button>

			<div class="clearfix"></div>
		</md-card>

		<!-- playlist -->
		<md-card id="playlistArea">
			<md-card-content>
				<select id="playlistMenu" multiple="multiple">
					<option
						ng-repeat="opt in playlist"
						ng-dblclick="changeTrack($index, opt.name)"
						ng-selected="$index == currPlayIdx"
					>{{ opt.name }}</option>
				</select>
				<div id="playlistBtnArea" class="buttonArea">
					<md-button
						class="md-fab md-raised md-mini"
						title="{{ $parent.langStrings.playlist_add }}..."
						aria-label="Add"
						ng-click="openFile(false)"
					>
						<md-icon md-svg-src="./imgs/plus.svg"></md-icon>
					</md-button>
					<md-button
						class="md-fab md-raised md-mini"
						title="{{ $parent.langStrings.playlist_shuffle }}"
						aria-label="Shuffle"
						ng-class="{'md-primary': randomOrder}"
						ng-click="shufflePlaylist()"
					>
						<md-icon md-svg-src="./imgs/shuffle-{{ (randomOrder) ? 'on' : 'off' }}.svg"></md-icon>
					</md-button>
					<md-button
						class="md-fab md-raised md-mini"
						title="{{ $parent.langStrings.playlist_clear }}"
						aria-label="Clear"
						ng-click="clearPlaylist()"
					>
						<md-icon md-svg-src="./imgs/trash.svg"></md-icon>
					</md-button>
				</div>
			</md-card-content>
		</md-card>
		<form id="openFileForm">
			<input
				id="openFile"
				type="file"
				accept="audio/*"
				multiple="multiple"
				on-file-change="loadFiles"
				ng-model="openFiles"
			>
		</form>
	</md-content>
</main>
