<div ng-controller="SettingsCtrl">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2 flex md-trucate>{{ $parent.langStrings.settings }}</h2>
			<md-button class="md-icon-button">
				<md-icon md-svg-icon="./imgs/close.svg" ng-click="closeSettings()"></md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<md-content>
		<md-card id="settingsCard">
			<md-card-content>

				<div layout="row" layout-align="space-between center">
					<span>{{ $parent.langStrings.language }}</span>
					<md-select
						class="md-no-underline"
						ng-model="settings.language"
						aria-label="Language"
					>
						<md-option
							ng-repeat="(key, val) in settings.langsMenu"
							value="{{ key }}"
						>{{ val }}</md-option>
					</md-select>
				</div>

				<div layout="row" layout-align="space-between center">
					<span>{{ $parent.langStrings.theme }}</span>
					<md-select
						class="md-no-underline"
						ng-model="settings.curr_theme"
						aria-label="Theme"
					>
						<md-option
							ng-repeat="(key, val) in settings.themesMenu"
							value="{{ key }}"
						>{{ val }}</md-option>
					</md-select>
				</div>

				<md-checkbox ng-model="settings.play_on_add">{{ $parent.langStrings.play_on_add }}</md-checkbox>
				<md-checkbox ng-model="settings.fade_on_pause">{{ $parent.langStrings.fade_volume }}</md-checkbox>
				<md-checkbox ng-model="settings.show_cover_art">{{ $parent.langStrings.show_cover_art }}</md-checkbox>
				<md-checkbox ng-model="settings.show_analyser">{{ $parent.langStrings.show_analyser }}</md-checkbox>

				<div layout="row" layout-align="space-between center">
					<span>{{ $parent.langStrings.track_delay }}</span>
					<input
						type="number"
						min="0"
						step="1"
						ng-model="settings.track_delay"
						aria-label="Delay"
						style="width: 60px; text-align: center;"
					>
				</div>

			</md-card-content>
		</md-card>
	</md-content>
</div>
